/fabfile.py
/.idea
/buildingGeojson
buildingGeojson/provinceLayers/
buildingGeojson/provinceLayers (copy)/
buildingGeojson/
/buildingGeojson/provinceLayers (copy)/
/buildingGeojson/
postgreeCalls.txt
.idea
/umap/settings/local.py
/umap.egg-info
/npm-debug.log
/a.tmp
/bansai-Wed18Mar20150922.html
/bansai-Wed18Mar20150920.html
