#main-sunburst {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;

    float: left;
    width: 500px;
}

#sidebar {
    /* float: right; */
    /* width: 100px; */
    margin-left: -90px;
    margin-top: 35px;
}
#sidebar2 {
    /* float: right; */
    /* width: 100px; */
    margin-left: -79px;
    position: relative;
    float: left; height: 100%;
    margin-top: 35px;
    /* overflow: hidden; */
    /* z-index: 2; */
    /* background: #f6f6f6; */
}


#sequence {
    width: 450px;
    height: 30px;
}

#legend {
    padding: 10px 0 0 3px;
}

#sequence text, #legend text {
    font-weight: 600;
    fill: #fff;
}

#sunBurstchart {
    position: relative;
}

#sunBurstchart path {
    stroke: #fff;
}

.faButton {
    background-position: inherit !important;
    background-repeat: inherit !important;
    display: inherit !important;
    height:inherit !important;
    width:inherit !important;
    line-height: inherit !important;
    background-image: inherit !important;
    color: inherit !important;
    padding: 2px 6px !important;
}

#explanation {
    position: absolute;
    top: 201px;
    left: 180px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
}


#legendSB {
   margin-top: -10px
}

#percentage {
    font-size: 2.5em;
}

.storage-browse-actions{
    margin-top: 4px;
}