{% load compress %}
{% compress js %}
       
        
    <script src='{{ STATIC_URL }}staticReqs/lib/d3.v3.js'></script>
    <script src='{{ STATIC_URL }}staticReqs/lib/osmauth.js'></script>
    <script src='{{ STATIC_URL }}staticReqs/lib/jxon.js'></script>
    <script src='{{ STATIC_URL }}staticReqs/lib/d3.typeahead.js'></script>
    <script src='{{ STATIC_URL }}staticReqs/lib/d3.combobox.js'></script>
    <script src='{{ STATIC_URL }}staticReqs/lib/d3.geo.tile.js'></script>
    <script src='{{ STATIC_URL }}staticReqs/lib/d3.dimensions.js'></script>
    <script src='{{ STATIC_URL }}staticReqs/lib/d3.trigger.js'></script>
    <script src='{{ STATIC_URL }}staticReqs/lib/d3.jsonp.js'></script>
    <script src='{{ STATIC_URL }}staticReqs/lib/d3.keybinding.js'></script>
    <script src='{{ STATIC_URL }}staticReqs/lib/d3.curtain.js'></script>
    <script src='{{ STATIC_URL }}staticReqs/lib/d3.one.js'></script>
    <script src='{{ STATIC_URL }}staticReqs/lib/d3.value.js'></script>
    <script src='{{ STATIC_URL }}staticReqs/lib/d3-compat.js'></script>
    <script src="{{ STATIC_URL }}staticReqs/leaflet-src.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/Leaflet.Editable.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/leaflet-hash.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/Leaflet.i18n.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/Leaflet.EditInOSM.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/Control.MiniMap.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/csv2geojson.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/togeojson.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/osmtogeojson.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/Control.Loading.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/leaflet.markercluster-src.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/leaflet.draw-src.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/leaflet.measurecontrol.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/leaflet.contextmenu-src.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/leaflet.label-src.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/GeoRSSToGeoJSON.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/leaflet-heat.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/togpx.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/tokml.js"></script>
{% endcompress %}
{% if locale %}
    <script src="{{ STATIC_URL }}staticLeafletStorage/src/locale/{{ locale }}.js"></script>
{% endif %}
{% compress js %}
    <script src="{{ STATIC_URL }}staticLeafletStorage/src/js/leaflet.storage.core.js"></script>
    <script src="{{ STATIC_URL }}staticLeafletStorage/src/js/leaflet.storage.popup.js"></script>
    <script src="{{ STATIC_URL }}staticLeafletStorage/src/js/leaflet.storage.xhr.js"></script>
    <script src="{{ STATIC_URL }}staticLeafletStorage/src/js/leaflet.storage.forms.js"></script>
    <script src="{{ STATIC_URL }}staticLeafletStorage/src/js/leaflet.storage.icon.js"></script>
    <script src="{{ STATIC_URL }}staticLeafletStorage/src/js/leaflet.storage.features.js"></script>
    <script src="{{ STATIC_URL }}staticLeafletStorage/src/js/leaflet.storage.layer.js"></script>
    <script src="{{ STATIC_URL }}staticLeafletStorage/src/js/leaflet.storage.controls.js"></script>
    <script src="{{ STATIC_URL }}staticLeafletStorage/src/js/leaflet.storage.slideshow.js"></script>
    <script src="{{ STATIC_URL }}staticLeafletStorage/src/js/leaflet.storage.tableeditor.js"></script>
    <script src="{{ STATIC_URL }}staticLeafletStorage/src/js/leaflet.storage.js"></script>
    <script src="{{ STATIC_URL }}staticReqs/contrib/js/storage.ui.default.js"></script>

   
        

    <script src="{{ STATIC_URL }}staticLeafletStorage/src/js/vis.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ STATIC_URL }}staticReqs/jquery.magnific-popup.js"></script>      
<script src="{{ STATIC_URL }}staticReqs/light-gallery/js/lightGallery.js"></script>
<script src="{{ STATIC_URL }}staticReqs/light-gallery/js/scrollstop.js"></script>
<!--    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet-src.js"></script>  

 -->
<link href='http://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>

<script src="{{ STATIC_URL }}staticLeafletStorage/src/js/LeafletPlayback.js"></script>
 
<script src="{{ STATIC_URL }}staticLeafletStorage/src/js/demo-tracks.js"></script>
<script src="{{ STATIC_URL }}staticLeafletStorage/src/js/example_1.js"></script>

<script src="{{ STATIC_URL }}svgOverlay/datadefinitions.js"></script>
<script src="{{ STATIC_URL }}svgOverlay/logic.js"></script>
<script src="{{ STATIC_URL }}chronasUtilityFunctions.js"></script>
        
<script src="{{ STATIC_URL }}markercluster/leaflet.markercluster-src.js"></script>

{% endcompress %}